body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 45px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    h5 {
        margin: 0;
        margin: 10px;
    }
}

.box {
    width: 160px;
    height: 160px;
    padding: 4px;
    display: grid;
    place-items: center;

    background-color: aquamarine;
    color: red;
    position: relative;
    left: 0;
    border: 2px solid #0009;

    margin-top: 5px;

    overflow: visible;
}

.box-1 {
    overflow: visible;
}
.box-2 {
    overflow: hidden;
}
.box-3 {
    overflow: scroll;
}
.box-4 {
    overflow: scroll;
    overflow-y: hidden;
}
.box-5 {
    overflow: scroll;
    overflow-x: hidden;
}
.box-6 {
    overflow-y: scroll;

}

.box-7 {
    overflow: auto;
}
.box-8 {
    overflow-y: clip
}