body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ff8000;
    color: #fff;
}

body,
header,
nav,
ul,
h1,
h2,
p,
img {
    box-sizing: border-box;
}

/* INICIO DEL HEADER */

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("ADA13\ Sede_desenfocada.webp");
    background-size: cover;

    display: flex;

    .header__overlay {
        min-height: 100vh;
        width: 100%;
        background-color: #f809;
        position: absolute;
        z-index: 1;
    }

    .header__item-container {
        position: relative;
        z-index: 10;
        margin: auto;
        text-align: center;
        max-width: 80%;

        .header__img {
            min-width: 250px;
            max-width: 40%;
            border-radius: 50%;
            border: 6px solid #fff;
            margin: 20px;
        }

        h1 {
            margin: 0;
            font-size: 3.6rem;
            text-wrap: balance;
        }

        p {
            text-wrap: pretty;
        }
    }
}
/* FIN DEL HEADER */

/* INICIO DEL NAV Section */
.nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px 100px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 25px #0009;

    .nav__ul-container {
        /* flex-grow: 4; */
        text-align: center;
        .nav__ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .nav__item {
                list-style: none;

                .nav__link {
                    color: #ff8000;
                    text-decoration: none;
                    display: inline-block;
                    padding: 8px 10px;
                    border-radius: 0;
                    transition: background-color 0.24s, border-radios 0.2s,
                        outline 0.2s, outline-offset 0.2s;
                    margin: 2px;

                    &:hover {
                        background-color: #f803;
                        border-radius: 20px;
                        outline: 2px solid #f803;
                        outline-offset: -4px;
                    }
                }

                #link--login {
                    color: white;
                    background-color: #ff8000;
                    border-radius: 20px;
                    padding: 8px 24px;
                    margin-top: 2.5px;

                    &:hover {
                        background-color: #f80d;
                        outline: none;
                    }
                }
            }
        }
    }

    .nav__logo-container {
        /* flex-grow: 1; */
        .nav__logo {
            width: 70px;
            text-align: center;
        }
    }
}

main {
    margin: auto;
    margin-top: 30px;
    max-width: 85%;
    text-align: justify;
    font-size: 1.7rem;
    text-wrap: pretty;
}
