/* Selectores */

p {
    color: blue;
    font-family: sans-serif, "Times New Roman", Times, serif;
    /* si la tipografia tiene un nombre de 2 o mas palabras separado por un espacio, debe ir entre comillas */
    /* se recomienda colocar mas d euna tipografia, de esa manera si el navegador no soporta la primera tipografia entonces usara la proxima que si. */
    font-size: 10px;
    font-weight: 900;
    text-align: justify;

    /* Las tipografias cuando son creadas se definen grosores, 100, 200, 300 .... 900. En funcion de esto podemos usarla en el css.  */
    /* bold es 700
    bolder es la siguiente definida a bold puede ser 800 ó 900, depende cuando la hayan diseñado.  */

    /** ¿si 700 no fue definida en la tipografia, que pasa con bold?.
    ¿si 700 fue definida pero una superior a 700 no, que pasaria con Bolder? */

}

#parrafo-2 {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    /* La propiedad text-align alineara al elemento dentro del contenedor del elemento;
    Si el elemento es un elemento en bloque, como un H1, este se vera facilmente como se mueveen al ancho de la pantalla.
    Si el elemento es en bloque pero esta dentro de un contenedor, este se movera dentro del espacio de ese contenedor, ya sea mucho o poco. 
    Si el elemento es inline el elemento no se movera para nada.  */
    text-decoration: underline;
    text-transform: capitalize;

}

#parrafo-3 {
    font-style: oblique;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    text-decoration: overline;
}

#parrafo-4 {
    font-style: oblique;
    font-size: 16px;
    font-weight: normal;
    color: brown;
    text-align: left;
    text-decoration: line-through;
}

#parrafo-5{
    text-align: start;
    text-decoration: overline underline line-through;
}

#parrafo-6{
    text-align: end;
    text-decoration: none;
    text-transform: lowercase;
}
/* end y start definen desde donde se comienza hablar dependiendo del pais de donde empezamos a escribir */

a{
    text-decoration: none;
}

#parrafo-7{
    color: black;
    font-weight: normal;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px purple;
}