body {
    margin: 0;
    font-family: sans-serif;
}

div, body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    margin: 50px 200px;
    height: 100px;
    
    align-items: center;
    justify-content: space-evenly;
}

.flex-item {
    background-color: #400;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
    /* height: 50px; */
    direction: rtl;
}

.flex-item:first-child{
    background-color: blue;
    order: 4;
}
.flex-item:nth-of-type(2){
    background-color: darkmagenta;
    order: 2;
}

.flex-item:nth-of-type(3){
    background-color: darkolivegreen;
    order: 1;
}
.flex-item:last-child{
    background-color: darkcyan;
    order: -1;
}


/* 1. Para una linea o muchas lineas en el eje principal, justify-content */

/* 2. para una linea en el eje cruzado aling-item */

/* 3. para muchas lineas en el eje cruzado aling-content */