body {
    color: #fff;



    

    .color1 {
        color: #00192a;
    }
    .color2 {
        color: #004060;
    }
    .color3 {
        color: #0074a3;
    }
    .color4 {
        color: #00b4f3;
    }
    .color5 {
        color: #00ffff;
    }

    color: #02c1e4;
}
