body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ff8000;
    color: #fff;
}

body,
header,
nav,
ul,
h1,
h2,
p,
img {
    box-sizing: border-box;
}

/* INICIO DEL HEADER */

.header {
    height: 100vh;
    box-sizing: border-box;
    background-image: url("ADA13\ Sede_desenfocada.webp");
    background-size: cover;

    display: flex;

    .header__overlay {
        height: 100vh;
        width: 100%;
        background-color: #f809;
        position: absolute;
        z-index: 1;
    }

    .header__item-container {
        position: relative;
        z-index: 10;
        margin: auto;
        text-align: center;
        max-width: 80%;

        .header__img {
            min-width: 250px;
            max-width: 40%;
            border-radius: 50%;
            border: 6px solid #fff;
            margin: 20px;
        }

        h1 {
            margin: 0;
            font-size: 3.6rem;
            text-wrap: balance;
        }

        p {
            text-wrap: pretty;
        }
    }
}
/* FIN DEL HEADER */

/* INICIO DEL NAV Section */
.nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 6px 100px 6px 40px;

    .separador__ul {
        .nav__ul {
            margin: 0;
            display: flex;
            justify-content: space-around;

            .nav__item {
                list-style: none;

                .nav__link {
                    color: #ff8000;
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    border-radius: 0;
                    transition: background-color 0.3s, border-radios 0.24s;

                    &:hover {
                        background-color: #f803;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .nav__logo {
        width: 70px;
    }
}
