body{
    font-family: sans-serif;
    margin: 0;
}

div, body{
    box-sizing: border-box;
}

.bloque{
    min-width: 400px;
    /* Indica que cuando la resolución sea mas pequeña, lo mas chico que podra ser el bloque es de 400px, y entonces que creara una barra de scroll horizontal */

    
    max-width: 600px;
    /* Indica que cuando la resolución sea mas grande, lo mas que puede crecer el bloque sera de 600px.*/

    min-height: 400px;
    /* La caja va medir minimo 400px, pero si el contenido dentro del bloque supera los 400px el bloque se alarga para cubrir el contenido.  */

    background-color: #7bf;
    margin: auto;
    margin-top: 100px;
} 