body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

#notificacion{
    background-color:#ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 14px;

    h4{
    margin: 0;
    font-size: 23px;
    /* Es el % de font-size en funcion del font-size de la caja contenedora;  */
    }

    span{
        color: #999;
        font-size: 5rem;
        font-weight: 100;
    }

    p{
        color: #555;
        font-size: 2em;
        /* p ocupa el 50% de 200px que mideel div padre  */
    }
}

/*cm, mm, inch las cosas que van a ser impresas se usan medidas fisicas,  */

/* cm, mm, inch,  para maquetar interfaces tactiles */

/* px, rem, em,   medidas absolutas, se usan para tener control y ser precisos.  */

/* Por porcentaje, son medida con respecto a su contenedor */

/* em es en funcion de la caja contenedora.  */

/* rem es en funcion del elemento RAIZ  HTML  
1. El font-size que define el navegador 
2. Definimos html { font-size} 
3. Si no esta definido en los casos anteriores BUSCARA al elementomas padre en el que sehaya definido font-soze
**/